{% extends '@Address/Default/address_base.html.twig' %}

{% block content %}
<body>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Corp id</th>
      <th>Org id</th>
      <th>Name</th>
      <th>Org Type</th>
      <th>Possibly same name</th>
      <th>Possibly same street</th>
      <th>House</th>
      <th>Street</th>
      <th>City</th>
    </tr>
    </thead>
    <tbody>
    {% for address in addresses %}
      <tr>
        <td>
          {{ address.corpId }}
        </td>
        <td>
          {{ address.orgId }}
        </td>
        <td>
          {{ address.name }}
        </td>
        <td>
          {{ address.orgType }}
        </td>

        <td>
          {% for possibleAddress in address.similarAddresses %}
            <p>
              <span><b>Name:</b> {{ possibleAddress.changedName }}</span>
              <span><b>Org id</b>: {{ possibleAddress.orgId }}</span>
              <span><b>Match(%):</b> {{ (possibleAddress.percentage * 100)|number_format(2)}}</span>
                           </p>
          {% endfor %}
        </td>
        <td>
          {% for possibleAddress in address.similarAddresses %}
            <p>
              <span><b>Name:</b> {{ possibleAddress.street }}</span>
              <span><b>Org id</b>: {{ possibleAddress.orgId }}</span>
              <span><b>Match(%):</b> {{ (possibleAddress.percentagestr * 100)|number_format(2)}}</span>
            </p>
          {% endfor %}
        </td>
        <td>
          {{ address.house }}
        </td>
          <td>
              {{ address.street }}
          </td>
        <td>
          {{ address.city }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
{% endblock content %}